.SidebarProfile {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
   
    gap: 20px;

    height: 100px;
    width: 100%;
    
    box-sizing: border-box;
    
    margin-top: auto;
    margin-bottom: 0;

    border-top: 1px solid var(--bg-ui-secondary-color);  
}

.profile {
    border: 2px solid var(--success-color);
    height: 50px;
    width: 50px;
    box-sizing: border-box;

    border-radius: 25px;
}

.profile img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.username {
    display: block;
    font-size: 15px;
}

.login {
    display: block;
    font-size: 10px;
}

@media screen and (max-width: 1000px) {
    .login {
        display: none;
    }

    .username {
        font-size: 12px;
    }

    .SidebarProfile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 150px;
        gap: 5px;
    }
}

