.App.dark {
    --bg-color: #091017;

    --bg-ui-primary-color: #1e2530;
    --bg-ui-primary-color-opacity: #1e253060;

    --bg-ui-secondary-color: #505154;
    --bg-ui-secondary-color-opacity: #50515460;
    
    --error-color: #cf6679;
    --success-color: #44cc77;
    --primary-color: #CACDFF;
    --warning-color: #ff5436;

    --blue-color: #44adff;
}