:root {
    --border-radius: 6px;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    background-color: var(--bg-ui-primary-color);
}

.input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: white;

    &:focus {
        outline: none;
        border: none;
    }
}

.label {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
        fill: white;
    }

    background: transparent;
}

.warring {
    svg {
        fill: var(--warning-color);
        color: var(--warning-color);
    }
}
.normal {
    svg {
        fill: white;
        color: white;
    }
}
.success {
    svg {
        fill: var(--success-color);
        color: var(--success-color);
    }
}
.error {
    svg {
        fill: var(--error-color);
        color: var(--error-color);
    }
}

.small {
    height: 35px;

    .label {
        width: 60px;
    }

} 

.medium {
    height: 41px;

    .label {
        width: 70px;
    }

} 

.large {
    height: 47px;

    .label {
        width: 80px;
    }

}

.radius {
    border-radius: var(--border-radius);

    .input {
        border-bottom-right-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
       
    }

    .label {
        border-bottom-left-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
    }
}
