.ProfileCard {
    margin-top: auto;
    margin-bottom: 0;

    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    border-top: 1px solid var(--bg-ui-secondary-color);

    gap: 20px;
}

.link {
    text-decoration: none;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    p {
        text-decoration: none !important;
        font-size: 12px !important;
    }
    
}

.logout {
    margin-left: auto;
    margin-right: 0;
    height: 30px;
    width: 30px;

    padding: 5px !important;

    svg {
        fill: white;
        height: 100% !important; 
        width: 100% !important;
    }
}


@media screen and (max-width: 1000px) {

    .logout {
        margin-right: auto;
        margin-left: auto;
    }

    .info {
        display: none;
        
    }

    .ProfileCard {
        align-items: center;
        justify-content: center;
        gap: 0;

       padding: 0;
    }

    .avatar {
        opacity: 0;
        display: none !important;
    }
}